{% extends "base_temp.html" %}

{% block title %} <title>inPlaces — {{ city.slug }}</title> {% endblock %}

{% block content %}
    <div class="container-xl inner-cont">
        <div class="row justify-content-center">
            <div class="col-4">
              <h1 class="ct-nm-cntr">{{ city.city_name_ru }}</h1>
                <div class="list-group">
                    {% for place in city.get_place_queryset %}
                        <a class="list-group-item list-group-item-action" href="{% url 'placegallery:place' city_name=city.slug slug=place.slug%}">{{ place.interesting_place_name_ru }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}