{% extends "base_temp.html" %}

{% load static %}

{% block title %} <title>inPlaces — {{ interestingplace.slug }}</title> {% endblock %}

{% block content %}
    <div class="container-xl inner-cont">
        <div class="row justify-content-center">
            <div class="col-7">
                <h2 class="ct-nm-cntr">{{interestingplace.interesting_place_name_ru}}</h2>

                {% if interestingplace.placeimage_set.all %}
                    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
                      <div class="carousel-inner overflow-hidden">

                      {% for image in interestingplace.placeimage_set.all %}
                            <div class="carousel-item {% if forloop.counter == 1 %} active {% endif %} overflow-hidden">
                              <img src="{% static image.get_relative_path %}" class="d-block w-100 rounded fix-h" alt="...">
                              <div class="carousel-caption d-none d-md-block">
                              </div>
                            </div>
                      {% endfor %}

                      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                      </button>
                      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                      </button>
                    </div>
                 </div>
                {% else %}
                <img src="{% static 'site_images/empty_images.png' %}" class="d-block w-100 rounded fix-h" alt="...">
                {% endif %}
            </div>

            <div class="row justify-content-center mt-4">
                <div class="col-6">
                    {% if interestingplace.description %}
                        <p class="text-justify">{{ interestingplace.description }}</p>
                    {% else %}
                        <p class="text-justify">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus a ligula blandit ex luctus volutpat. Quisque condimentum posuere felis a imperdiet. In eget efficitur orci. Nulla semper luctus eros, et accumsan odio rhoncus vel. Proin quis nibh non lorem consectetur molestie a id diam. Quisque sagittis semper tellus sit amet molestie. Nulla facilisi. Curabitur efficitur, quam ut placerat faucibus, turpis lectus ultricies ante, eu laoreet urna ligula venenatis felis.
                        </p>
                    {% endif %}
                </div>
            </div>


        </div>
    </div>
{% endblock %}