.nb-mr {
    margin-right: 0.6rem;
}

.inner-cont {
    padding: 0 100px 0 100px;
}

.city-link {
    padding-left:20px;
    text-decoration: none;
}

.pg-cntr {
    justify-content: center;
}

.ct-nm-cntr {
    text-align: center;
}

.fix-h {
    max-height: 400px;
}

.text-justify {
    text-align: justify!important;
}

.modal-cm {
    max-width: 270px;
}

.col-cstm {
    width: 35%;
}

.col-cst {
    width: 75%;
}

.alrt-cstm {
    margin-left: 10%;
    width: 75%;
}

.profile-pic {
  border: 1px solid #ddd;
  border-radius: 100%;
  padding: 4px;
  width: 70px;
  margin-right: 10px
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    border: 1px solid #ccc;
    border-radius: 2em 0 0 2em;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

.outer {
    position: relative;
}

.inner {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}